# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MLflow local database and artifacts
mlruns/
mlflow.db

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker files (optional if you rebuild them)
*.tar
*.img

# IDE/editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Pytest cache
.pytest_cache/
